@model List<Kartverket.Data.GeoChange>
@*@model List<Kartverket.Models.AreaChange>*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*¨*@
@{
    ViewData["Title"] = "Overview";
}

<h2>Overview of Registered Changes</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>GeoJSON</th>
            <th>Category</th>
            <th>Description</th>
            <th>Vedlegg</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var change in Model)
        {
            <tr>
                <td>@change.Id</td>
                <td>@change.GeoJson</td>
                <td>@change.Category</td>
                <td>@change.Description</td>
                
            </tr>
        }
    </tbody>
</table>

<div id="map" style="height: 400px"></div>

@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>

        var map = L.map('map');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var changes = @Html.Raw(Json.Serialize(Model));


        var geoJsonLayers = [];

        //legge til data og samle lagene
        changes.forEach(function(change) {
            var geoJsonData = JSON.parse(change.geoJson);
            var layer = L.geoJSON(geoJsonData).addTo(map);
            geoJsonLayers.push(layer);
        });

        //vise kartet der man la inn feilen, ikke London
        if (geoJsonLayers.length > 0) {
            var group = new L.featureGroup(geoJsonLayers);
            map.fitBounds(group.getBounds());
        }
    </script>
}
