@model Kartverket.Models.MinSideViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "MinSide";
}


<html>
<head>

</head>
<body>
    <div class="containerM"> 
        <div class="Minside">
            <h1>Min side</h1>

            <br />
            <br />
            <p><strong>Name:</strong> @Model.RegistrerViewModel.Name</p>
            <p><strong>Email:</strong> @Model.RegistrerViewModel.Email</p>
            <p><strong>Address:</strong> @Model.RegistrerViewModel.Address</p>
            <p><strong>PostNummer:</strong> @Model.RegistrerViewModel.PostNumber</p>
             <a asp-controller="Home" asp-action="RegisterAreaChange" class="btn btn-success">
                Ny innmelding
            </a>
        </div>

        <div class="Innmeldinger">
            <div class="left-side">
                <div class="controls">
                    <input id="search" type="text" placeholder="Søk...">
                    <button>Filter</button>
                    <button>Sorter etter</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>GeoJSON</th>
                            <th>Category</th>
                            <th>Description</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var change in Model.GeoChange)
                        {
                            <tr data-id="@change.Id">
                                <td>@change.Id</td>
                                <td>@change.GeoJson</td>
                                <td>@change.Category</td>
                                <td>@change.Description</td>
                                <td>
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@change.Id" class="text-success">Edit</a> |
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@change.Id" class="text-success">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</body>
</html>