@model Kartverket.Models.MinSideViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "MinSide";
}

<html>
<head>

</head>
<body>
    <div class="containerM">
        <div class="Minside">
            <h1 class="green-text">Min side</h1>

            <br />
            <br />
            <p><strong>Name:</strong> @Model.RegistrerViewModel.Name</p>
            <p><strong>Email:</strong> @Model.RegistrerViewModel.Email</p>
            <p><strong>Address:</strong> @Model.RegistrerViewModel.Address</p>
            <p><strong>PostNummer:</strong> @Model.RegistrerViewModel.PostNumber</p>
            <a asp-controller="Home" asp-action="RegisterAreaChange" class="btn btn-success">
                Ny innmelding
            </a>
        </div>

        <div class="Innmeldinger">
         
                <div class="controls">
                    <input id="search" type="text" placeholder="Søk...">
                    <button>Filter</button>
                    <button>Sorter etter</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Dato</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Endring</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var change in Model.GeoChange)
                        {
                            <tr data-id="@change.Id" onclick="window.location.href='@Url.Action("Details", "Home", new { id = change.Id })'" style="cursor: pointer;">
                                <td>@change.Category</td>
                                <td>
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@change.Id" class="text-success">Endre</a> |
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@change.Id" class="text-success">Slette</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    
</body>
</html>
