@model Kartverket.Models.MinSideViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Min side</title>
    <style>
       
            footer{
                height:10%;
            }

    </style>
</head>
<body>
    <div class="containerM">

        <div class="Minside">

            <h1 style="color:#1A833B">Min side</h1>
            <p><strong>Name:</strong> @Model.UserData.Name</p>
            <p><strong>Email:</strong> @Model.UserData.Email</p>
            <p><strong>Address:</strong> @Model.UserData.Address</p>

            <a asp-controller="Home" asp-action="RegisterAreaChange" class="btn btn-success">
                Ny innmelding
            </a>
        </div>
        
        <div class="Innmeldinger">
            <div class="left-side">
                <div class="controls">
                    <input id="search" type="text" placeholder="Søk...">
                    <button>Filter</button>
                    <button>Sorter etter</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>GeoJSON</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Vedlegg</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var geoChange in Model.GeoChange)
                        {
                            <tr data-id="@geoChange.Id">
                                <td>@geoChange.Id</td>
                                <td>@geoChange.GeoJson</td>
                                <td>@geoChange.KatNr</td>
                                <td>@geoChange.Description</td>
                                <td>
                                    @foreach (var vedlegg in geoChange.Vedlegg)
                                    {
                                        <a href="data:application/octet-stream;base64,@Convert.ToBase64String(vedlegg.FilData)" download="@vedlegg.FilNavn">
                                            @vedlegg.FilNavn
                                        </a>
                                        <br />
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            
            
        </div>
    </div>
</body>
</html>
